


body {  
    background-size: 100%;  
    background-position:center;  
} 

*#Notice {
    position:relative; 
    left:50px; 
    top:20px; 
}

.footer {
   position:relative; 
    margin-left:20px; 
    margin-bottom:20px;   
    
}
