@charset "UTF-8";
html{font-family:'helvetica neue',tahoma,arial,'hiragino sans gb','Simsun',sans-serif} 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,hr{margin:0;padding:0}

li{list-style:none}


body {  
    background-size: 100%;  
    background-position:center;  
} 

*#Notice {
    position:relative; 
    left:50px; 
    top:20px; 
}


